.selects{
    width: 140px;
    padding: 5px;
    background-color: rgba(240, 230, 217, 0.781);
    color: rgb(104, 57, 13);
    border: 2px solid none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
}

.selects:hover {
  cursor: pointer;
}