textarea {
    width: 500px;
    height: 150px;
    background-color: rgba(240, 230, 217, 0.781);
    color: rgb(104, 57, 13);
    border-color: rgb(104, 57, 13);
    outline: none;
    border-radius: 5px;
    resize: none;
}
input {
    background-color: rgba(240, 230, 217, 0.781);
    color: rgb(104, 57, 13);
    border-color: rgb(104, 57, 13);
    outline: none;
    border-radius: 5px;
    border-width: 1px;
    height: 30px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

::placeholder{
    color: rgb(104, 57, 13);
}

.titleDiv {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.button{
    width: 100px;
    padding: 5px;
    background-color: rgba(240, 230, 217, 0.781);
    color: rgb(104, 57, 13);
    font-weight: bold;
    border-width: 1px;
    font-size: 12px;
    border-radius: 5px;
  }

.button:hover {
    background-color: rgba(241, 236, 229, 0.897);
    cursor: pointer;
    border: 2px solid rgb(104, 57, 13);
}
  
.buttonDisabled{
    cursor:not-allowed;
    width: 100px;
    padding: 3px;
  }

.buttonDiv {
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}


